[2013-04-28 20:47] shadoobie opened #3 "Error Forbidden upon local registration"
Hello,

I'm wondering if I'm doing this wrong.  I've setup ultimate-seed such that I have all of the dependencies and modules.  I've got redis running and on the default port.  The site comes up correctly for the most part.  In some cases there is no login or register button (chromebook and chrome on vista)

When I register using the standard passport I get the following error.  It does appear tha

[2013-04-28 22:17] #3 closed, assigned to nobody

[2013-04-28 22:19] pilwon commented on #3
@shadoobie Thanks for reporting the issue. There was a bug with generation of CSRF token for not-yet-POSTed requests.

[2013-05-11 09:09] pilwon opened #9 "Minify require.js"

[2013-05-21 18:24] pilwon opened #10 "Integrate w/ Bootstrap Social Buttons"
http://noizwaves.github.io/bootstrap-social-buttons/

[2013-05-21 18:52] pilwon opened #11 "Integrate w/ Karma/Intern/Protractor testing framework"
- Karma: http://karma-runner.github.io/
- Intern: http://theintern.io/
- Protractor: https://github.com/angular/protractor ([sample](https://github.com/dariusriggins/ultimate-angular))

[2013-06-11 07:55] pilwon opened #12 "Fix bug in trailing slash middleware"
[http://localhost:3000/?x=y](http://localhost:3000/?x=y)

[code]

[2013-06-24 11:45] pilwon opened #13 "Grunt `build` task to use a temp dir before replacing dest dir to reduce server downtime."

[2013-06-24 13:12] #10 closed, assigned to nobody

[2013-07-22 20:10] pilwon opened #14 "Remove `connect-mongo` session support."
Let `connect-redis` be the only option for connect session middleware.

[2013-08-13 09:00] pilwon commented on #14
No need to eliminate `connect-mongo` session option as a fix was found.

[2013-08-13 09:00] #14 closed, assigned to nobody

[2013-08-13 09:01] pilwon commented on #9
Dropped `require.js` support in commit 5616d1913bc841b398ec755409995025e652c0eb.

[2013-08-13 09:01] #9 closed, assigned to nobody

[2013-08-13 10:07] pilwon opened #15 "Fix server restart issue in express on JS file change."
Due to update in [grunt-express](https://github.com/blai/grunt-express).

[2013-08-13 18:14] pilwon opened #16 "Make symlink for `font-awesome` (use bower component)"

[2013-08-13 18:15] pilwon opened #17 "Optimize Grunt watch task to reduce CPU usage."

[2013-08-13 18:32] #17 closed, assigned to nobody

[2013-08-13 18:41] #16 closed, assigned to nobody

[2013-08-13 18:58] pilwon opened #18 "Improve account association using Passport's Authorize feature."
http://passportjs.org/guide/authorize/

[2013-08-14 16:03] pilwon commented on #12
Fixed here: https://github.com/pilwon/node-ultimate/commit/8276ae80fbf767ddf523251a3756af19c7362a39

[2013-08-14 16:03] #12 closed, assigned to nobody

[2013-08-14 22:31] pilwon opened #19 "Fix "maximum call stack size exceeded" error in Grunt watch task."

[2013-08-15 03:19] ghost opened #20 "Passport redirect for Facebook is always to localhost"
For the life of me I can't figure out why the redirect url is always Facebook for my Heroku app. When I try to login with Facebook, I get an error, but the essence of it is that the redirect callback is always set to localhost instead of my domain. Am I missing a piece of configuration to get it to use the domain instead?

https://www.facebook.com/dialog/oauth?response_type=code&redirect_uri=http%

[2013-08-15 04:53] pilwon commented on #20
@dariusriggins The server app launched with an environment variable of `NODE_ENV=heroku` uses `url` variable configurable in `config/heroku.json` for its base URL. It is read in [`ultimate.server.middleware.passport.facebook`](https://github.com/pilwon/node-ultimate/blob/b27fb449c773ae8d115bd5b5ebe71bd9b6dcda0c/lib/server/middleware/passport/facebook.js#L56), then the final callback url that you s

[2013-08-15 12:48] ghost commented on #20
I was an idiot and just copied my config over the top of the heroku config, not realizing the additional parameter was there. Thanks.

[2013-08-15 12:48] #20 closed, assigned to nobody

[2013-08-16 02:16] pilwon opened #24 "Support server-side plugins."
- Turn `auth`, `socketio`, `winston` related code into auto-discoverable plugins.
- `project.json`:

[code]

[2013-08-16 02:44] yaru22 opened #25 "Use HTTP status code constants"
Not sure if there's a module for this, but in the code, it would be more readable if we use constants like:

`if (status === HTTP.NOT_FOUND)`

instead of

`if (status === 404)`

What do you think?

[2013-08-16 02:45] yaru22 commented on #13
Isn't it resolved in the current Gruntfile.js?

[2013-08-16 02:49] pilwon opened #26 "Improve project.json format."
[code]

[2013-08-16 02:54] pilwon commented on #13
@yaru22 Not exactly, since `grunt build` completely removes currently serving dist directory before it actually starts the build process. This is suboptimal in the production environment where you don't want any downtime. Ideally it should cleanly build elsewhere and then swap out the existing project only when it's done.

[2013-08-16 02:59] yaru22 commented on #26
+1
client.base.(root|js|index|less) as well?

[2013-08-16 03:07] pilwon commented on #26
@yaru22 Great idea. I added them all.

[2013-08-16 03:17] pilwon commented on #25
@yaru22 Yeah I think it's a great idea.

[2013-08-16 03:45] pilwon opened #27 "Support multiple middlewares for restify.*"

[2013-08-16 03:50] pilwon opened #28 "Email verification process for registration and password recovery."
- Support email by integrate w/ [NodeMailer](https://github.com/andris9/Nodemailer).
- Transactional e-mail.
- Integrate w/ [Barbeque](https://github.com/pilwon/barbeque)

[2013-08-16 03:52] pilwon opened #29 "Admin interface"
- user management
- oauth reassignment

[2013-08-16 03:54] pilwon opened #30 "Rate limiting policy."
- [Simple (single instance)](https://gist.github.com/jrf0110/5493304)
- [Readings](http://stackoverflow.com/questions/11821958/nodejs-any-module-to-limit-express-request-rate)

[2013-08-16 04:14] yaru22 commented on #30
http://mcavage.me/node-restify/ has throttle section. Reading that will probably help, too.
Here's the link to the source code: https://github.com/mcavage/node-restify/blob/master/lib/plugins/throttle.js

[2013-08-17 06:54] pilwon opened #31 "Consider using documentation generator."
- [JSDoc3](http://usejsdoc.org/)
- [dox](https://github.com/visionmedia/dox)
- [grunt-dox](https://github.com/punkave/grunt-dox)
- [markdox](https://github.com/cbou/markdox)
- [dox-foundation](https://github.com/punkave/dox-foundation)
- [Example (used Yard)](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/frames.html)

[2013-08-17 19:50] yaru22 opened #32 "Use Redis as default session store"
Right now, Redis is not being used. Let's use Redis as session store and let the user decide whether they want to use Redis or not.

[2013-08-17 20:59] #32 closed, assigned to nobody

[2013-08-18 07:55] pilwon commented on #24
## Plugins
- [ultimate-admin](https://github.com/pilwon/node-ultimate-admin): Admin plugin
- [ultimate-auth](https://github.com/pilwon/node-ultimate-auth): Auth plugin
- [ultimate-auth-facebook](https://github.com/pilwon/node-ultimate-auth-facebook): Facebook Auth plugin
- [ultimate-auth-google](https://github.com/pilwon/node-ultimate-auth-google): Google Auth plugin
- [ultimate-auth-twitter](http

[2013-08-22 04:17] pilwon opened #33 "Improve "app.run" in "server/app.js" w/ async."
Server start should fail if any connection to MongoDB/Redis fails.

[2013-08-27 05:04] pilwon opened #34 "Consider using grunt-aws for storing built files to AWS."
https://github.com/jpillora/grunt-aws

[2013-08-27 10:01] pilwon commented on #19
Stopped seeing this problem. Must have been fixed either by recent updates in `grunt-watch` or some changes made to `Gruntfile.js` some time ago.

[2013-08-27 10:01] #19 closed, assigned to nobody

[2013-08-28 14:09] pilwon opened #35 "Globalize "app" and "config"."

[2013-08-31 06:49] pilwon opened #36 "Support cache-bust for server-side pages as well."

[2013-09-01 03:29] pilwon opened #37 "Make app crawlable. (SEO-support)"
- [selenium-webdriver](https://github.com/pilwon/node-selenium-webdriver)
- [**_escaped_fragment_**](https://developers.google.com/webmasters/ajax-crawling/)

[2013-09-02 08:50] jaulz opened #39 "Windows: Symbolic link to font files fails"
It seems that the symbolic links to the font files (client/fonts) is not working on Windows machines. Is it possible to make it similar to the less/css behaviour?

So the symbolic links will be resolved and the files will be copied to the tmp folder. When the fonts folder is accessed automatically the tmp folder shall be read. Unfortunately I cannot find the place where this routing for the css fi

[2013-09-02 09:03] pilwon commented on #39
@jaulz Hmm symbolic link is a tricky one because that is the best way to share bower component between js/less/fonts. If you are looking for `less -> css` processing, look for `less` task in Gruntfile. <del>But I think the closest technique that avoids symbolic links is to use bower post-install hook. See how `npm-scripts.js` is called by `scripts` section in `package.json`. It automatically gener

[2013-09-02 12:46] jaulz commented on #39
@pilwon: it seems there is a misunderstanding. I actually wanted to know how you do the routing between /client/css/\* to /.tmp/css/*. You link to /css/main.css in the html file but this file does not exist and instead the main.css from the /.tmp/css folder is retrieved. My proposal to solve this problem would be to write a grunt task that  resolves all symbolic links in /client/fonts/ and copies

[2013-09-03 01:18] pilwon commented on #39
@jaulz This is what you're looking for: [ultimate's lib/server/express.js](https://github.com/pilwon/node-ultimate/blob/099fbf8de33e173ff63b8b98fa5e18514d31ff87/lib/server/express.js#L111) But since express server already treats .tmp as one of static directories, you just need to place font files in `.tmp/fonts` and copy them into `{{project.dist}}` during grunt build task. I agree with your propo

[2013-09-03 02:06] #39 closed, assigned to nobody

[2013-09-03 06:31] jaulz opened #40 "Log out after navigating"
When I log in and afterwards navigate to either "Express" or an external page (e.g. http://github.com/pilwon/ultimate-seed), the session is lost and I'm logged out. However navigating to "Backbone" or "Account" works as designed :)

[2013-09-03 08:34] pilwon commented on #40
@jaulz Thanks for reporting this. I confirmed the problem exists in the current code base. I'll have a look what happened with recent code changes.

[2013-09-03 09:15] pilwon commented on #40
@jaulz This bug was caused by commit https://github.com/pilwon/node-ultimate/commit/a12f85573e8f8b7f58706c1ad304c023d3098f93. (`path.join` !== `url.resolve`)

[2013-09-03 09:17] #40 closed, assigned to nobody

[2013-09-03 09:20] pilwon commented on #40
https://github.com/pilwon/node-ultimate/commit/0e79e69925d3726b0f8847e0d8860c88ae43f430

[2013-09-04 06:03] pilwon opened #41 "Expose "createdAt" to restify.model results."

[2013-09-05 15:34] #36 closed, assigned to nobody

[2013-09-05 21:57] ghost opened #42 "How do you become an admin via restify.model?"
I have the admin role setup on my user, but when I do a get request, it's returning the schema for user and not the \* defined for admin. Is their a different route or config piece I'm missing?

[2013-09-06 00:33] #42 closed, assigned to nobody

[2013-09-06 01:37] pilwon commented on #42
@dariusriggins Just to let you know, `restify.model` functionality is still under development. Stay tuned for upcoming changes.

The first user to sign up becomes the admin user [as seen here](https://github.com/pilwon/ultimate-seed/blob/d58100463d81ad6e2030ab03bcc2e327434e1667/server/models/User.js#L116).

[2013-09-06 04:04] #15 closed, assigned to nobody

[2013-09-07 23:19] vadiraja opened #44 "Express static configuration has typo error"
I don't if anyone is using this in production mode, but there is a typo in Ultimate module, express.js.

'proudction' should be 'production'

 _server.configure('heroku', 'proudction', function () {

[2013-09-08 04:02] pilwon commented on #44
@vadiraja Thanks so much for the catch. I should've caught this typo earlier. In case you're wondering, yes I use ultimate for several production apps.

[2013-09-08 04:03] pilwon commented on #44
Fixed here: https://github.com/pilwon/node-ultimate/commit/e147f8080fe827ce256f1badca5f7f6f91143adf

[2013-09-08 04:03] #44 closed, assigned to nobody

[2013-09-16 01:53] yaru22 commented on #26
I think we can close this one since we're going to migrate ultimate-seed to use Angular so no need to have separate client dirs.

[2013-09-16 01:53] #26 closed, assigned to nobody

[2013-09-16 02:05] yaru22 opened #47 "Using rhtml with Angular's $templateCache."
Right now, we're using rhtml to minify template and inlining it to views. i.e.

[code]

However, this could increase the code size if more than one controller shares the same template. I think the better approach would be, for example,

[code]

and then

[code]

This way, even if there are multiple controllers that want to use the same template, we are going to include it in our code base only onc

[2013-09-16 02:45] pilwon commented on #47
It is unnecessary to use `$templateCache` because template code sharing can be easily achieved by any of the following techniques:
- Move `rhtml('./templates/*.html')` to the top of `{{module}}/index.js` then assign the loaded template to multiple states.
- Load and cache all templates that need to be shared to a separate JS file then require this file from module state definition block. Let Brows

[2013-09-16 02:45] #47 closed, assigned to nobody

[2013-09-24 17:42] pilwon commented on #35
Not necessary.

[2013-09-24 17:42] #35 closed, assigned to nobody

[2013-09-28 09:07] pilwon opened #48 "Disable form button on submit."
Enable again only when error is returned and form data is changed.
This way, same form data won't be submitted over and over.

[2013-09-28 09:08] pilwon opened #49 "Consider preloading fonts. (glyphicon, font-awesome)"

[2013-09-28 09:09] pilwon opened #50 "Implement account features."
- e-mail verification
- lost password
- terminate account

[2013-09-28 09:10] pilwon opened #51 "Encrypt or uglify config in HTML."

[2013-09-28 10:34] pilwon opened #52 "Fix weird full-screen behavior on iOS."

[2013-10-18 00:47] rynz opened #53 "grunt test doesn't work"
How can we fix the "require" issue? I don't really want to unit test the development build as one file, would be nice if it worked with each require in each file?

[code]

[2013-10-18 00:54] pilwon commented on #53
@sparkio `grunt test` (integration with a testing framework) has not been fully implemented yet. (related Issue #11) We'll need to think about how to deal with browserify's `require` for testing.

[2013-10-18 00:54] #53 closed, assigned to nobody

[2013-10-18 01:28] rynz commented on #11
@pilwon Any timeline for this?

[2013-10-18 01:33] pilwon commented on #11
@sparkio I expect this to be done sometime between Q4 and Q1. There are some higher priority tasks to do before this one. We welcome your PR.

[2013-10-23 16:23] remicastaing opened #54 "bcrypt Error: Could not load the bindings file."
I'm using:
- node v0.10.21
- npm 1.3.11
- grunt v0.4.1
- grunt-cli v0.1.9
- mongodb 2.4.7

[code]

[2013-10-23 16:25] pilwon commented on #54
@remicastaing `npm rebuild` should resolve this issue.

[2013-10-23 16:25] #54 closed, assigned to nobody

[2013-10-23 16:28] remicastaing commented on #54
It did!
Thank's @pilwon.
Now, time for trying out.

[2013-10-23 16:30] pilwon commented on #54
@remicastaing Awesome! Let me know how it goes. Feedback appreciated :+1:

[2013-10-23 16:57] remicastaing opened #55 "Facebook registration without living the single page app"
Neither the [MEAN-stack by Linovate](https://github.com/linnovate/mean) nor the demo from @madhums do it: could it be possible to perform a FB/Google/Tw/etc. registration without living the single page app? Perhaps through a modal view.
The purpose of this question is to run the app inside a phonegap container.

[2013-10-23 17:02] pilwon commented on #55
@remicastaing Not sure if I understood your question correctly.

If what you like to have is social integrations without need of Angular single-page app, it's already implemented that way. Just redirect user to one of these end points:
- http://ultimate-seed.herokuapp.com/auth/facebook
- http://ultimate-seed.herokuapp.com/auth/google
- http://ultimate-seed.herokuapp.com/auth/twitter

[2013-10-23 18:18] remicastaing commented on #55
I do want an Angular SPA and social integration. But if I click
http://ultimate-seed.herokuapp.com/auth/facebook
I'm living the SPA to the FB registration page and after the registration is completed, I'm redirected to
http://ultimate-seed.herokuapp.com//auth/facebook/success

I'm wondering if it is possible to avoid this two redirections and having the registration proceeded inside a modal view o

[2013-10-23 18:28] pilwon commented on #55
@remicastaing I see what you want. You'd need to look into [Facebook JavaScript SDK](https://developers.facebook.com/docs/facebook-login/getting-started-web/) to achieve that. I've done it on my other project and it's fairly straight forward to implement.

You'll need to receive the auth cookie returned from FB server to user's browser when user makes a request to the ultimate server. Then you nee

[2013-10-23 18:28] #55 closed, assigned to nobody

[2013-10-23 18:59] remicastaing commented on #55
Thank you for this explanation, @pilwon.

My main concern was to be able to put the app without change in a  Cordova/PhoneGap container. But, it's probably not a so good idea: one would be better of by using some Cordova Facebook plugin and the native Facebook app to perform Single Sign On for the user.

[2013-10-24 02:04] pilwon commented on #55
@remicastaing Oh yes definitely use the already available Facebook auth plugin for Cordova app. I forgot you wanted it for your mobile app. Using something based on Facebook's mobile SDK will provide the best user experience and security.

[2013-11-07 11:07] pilwon opened #59 "Consider RAML support for API design."
http://raml.org/

[2013-11-10 16:15] steve21124 opened #65 "How to use Ultimate-seed?"
lets say, I would like to add "posts" menu that retrieve posts.json from the server and render it to the page
## http://localhost:3000/posts

From your Ultimate-seed layout.
Choice 1  -- create a new posts directory
- add "posts" to layout/templates/_nav.html
- in client/js/app.js -- add "app.posts" to ngModule
- in client/posts/index.js -- create app.posts
- in client/posts/templates/posts.html

[2013-11-10 16:38] pilwon commented on #65
@steve21124

We haven't yet documented this but the seed is quite flexible enough that you have many options when adding a new page. The seed includes simple example code for each option: angular, express, and static, and template-less. You may also create your own layout similar to `static`.

It's pretty much case-by-case when deciding the best implementation option for a new page.

If it is some

[2013-11-10 16:38] #65 closed, assigned to nobody

[2013-11-11 05:07] steve21124 opened #66 "How to generate html version of client-build"
How to generate the html version of client-build? I plan to host client-build as static files and nodejs in the server.

thanks

[2013-11-11 07:08] steve21124 commented on #66
found the answer using grunt html

[2013-11-11 07:23] steve21124 commented on #66
sorry, reopen. seems like there are two choice, using Grunt Concat and grunt-html-build. the ultimate-seed already have GruntConcat but not being used in GruntFile yet

[2013-11-11 07:49] steve21124 commented on #66
possible sample to use grunt-html-build

<pre>
    fixturesPath: '<%= project.path.dist %>',
    htmlbuild: {
        dist: {
            src: 'index.html',
            dest: '<%= project.path.dist %>/',
            options: {
                beautify: true,
                prefix: '//some-cdn',
                relative: true,
                scripts: {
                    bundle: [

[2013-11-11 11:08] pilwon commented on #66
You can drop your static files in `static` directory. If there's any reason you need to build using grunt, check out [our old code snapshot](https://github.com/pilwon/ultimate-seed/tree/c3c7e36b8a35ff779ceb4bf2b8745924affa9d11). We used to have `index.html` in `client` directory.

[2013-11-11 11:08] #66 closed, assigned to nobody

[2013-11-11 20:36] bluepeter commented on #50
And ability to edit existing account fields such as name, and change email address. :)

[2013-11-12 03:54] amirmog opened #67 "CRUD needed"
May I please request for adding some CRUD to this seed.
What I mean is that it would include some end-points for adding removing updating and listing articles.
This would be a good starting point for new users.

Thank you.
Cheers,
Amir

[2013-11-12 04:08] pilwon commented on #67
@amirmog We'd like to add this functionality in the near future. We have some open issues related to this. (#27, #29, #41, #59)

[2013-11-12 04:08] #67 closed, assigned to nobody

[2013-11-12 04:09] pilwon commented on #50
@bluepeter :+1:

[2013-11-12 04:47] bluepeter opened #68 "transactional emails"
Would be nice to get some transactional emails (possibly even via Sendgrid API) for various activities: completing reports, etc.

Okay, may be expanding this sucker out a bit beyond a seed. But, still, there usually always needed!

[2013-11-12 04:51] bluepeter opened #69 "Consider supporting subscription system"
Why not add a subscription system: with monthly and annual plans, free trials, coupons, etc. And some payment processor handling (Stripe & PayPal maybe?)

[2013-11-12 04:52] pilwon commented on #68
@bluepeter Great idea. Indeed we started email support by first putting it in our config files. We'd like to integrate it using [NodeMailer](https://github.com/andris9/Nodemailer). (comes with SendGrid support as well) Closing this issue  since it's related to https://github.com/pilwon/ultimate-seed/issues/28

[2013-11-12 04:52] #68 closed, assigned to nobody

[2013-11-12 04:56] pilwon commented on #69
@bluepeter That would be pretty sweet and useful.

@yaru22 What do you think?

[2013-11-12 09:11] yaru22 commented on #69
@pilwon @bluepeter Yeah, integrating Stripe would be a fantastic idea. I read Stripe doc recently and they added a few more neat features that I'd like to use for my projects, too. Also, Stripe took over node-stripe library (previously maintained by a third-party) and started maintaining it. So I think it's a good time to integrate that to ultimate-seed!

@pilwon, we can discuss further in person

[2013-11-12 09:31] pilwon commented on #69
:+1:

[2013-11-12 11:47] cedricziel commented on #42
Hey Ho! Great work indeed :)

Sorry to ask, but how can i resolve this in the current state of ultimate?
I need the differentiation between the roles and would like to know if there are any news on that topic?

Cheers,
Cedric

[2013-11-12 23:08] pilwon commented on #42
@cedricziel For differentiating result based on user roles all you need to do is checking the `req.user.roles` string array. Using underscore/lodash, `_.has(req.user.roles, 'somerole')` check would do the job.

Restify module that is currently included in the seed only works partially. I'd say it's at the proof of concept stage.

[2013-11-13 09:25] cedricziel commented on #42
Thank you for the explanation @pilwon . To be honest: The restify module is becoming one of my main interests (as you tied the other components together almost perfectly ;) ). Do you have a rough schedule or pin point me where I should try to improve it?

Afaik the roles are doing their job quite good-except the matching has a priority problem.

[2013-11-13 09:58] pilwon commented on #42
@cedricziel Thanks for looking at it that way. Almost feel guilty for not completing the work I started off on that. The project collaborator @yaru22 and I are both blocked with other things right now therefore we have not been able to tackle on open issues lately. It may take few more weeks for either of us to come back to this project.

If you are interested in contributing to this project espec

[2013-11-13 10:55] cedricziel commented on #42
I'm coming from a PHP context and was fighting with Node (for good!) for the last 2 weeks. Just to make sure you see my background.

In that time I had intermezzos with both baucis and the original restify server. The first impressed me like nothing else. The original restify server was quite unusable for me, as I need it to be a part of my express app.

I will dig deeper into the places you point

[2013-11-17 06:02] pilwon opened #70 "Rename main.{css,js} to app.{css.js}"

[2013-11-18 15:20] pilwon opened #71 "Request all dependency package owners to add .npmignore"
It's taking too long to install all dependencies. It appears that most of dependency packages do not contain `.npmignore` or `files` specified in `package.json` to cherry pick what files gets blacklisted or whitelisted in the published npm packages. It will be nice if we inform each one of them about this technique and reduce the overall size and time to install all dependencies.

[2013-11-21 16:04] cedricziel opened #72 "How to authenticate a request via token?"
Hi,

I just discovered, there's an accessToken feature-including serialization and deserialisation-how would i issue requests that get actually authenticated by the accesstoken?

Thanks in advance,
Cedric

[2013-11-21 16:07] pilwon commented on #72
@cedricziel Have a look at [this code](https://github.com/pilwon/node-ultimate/blob/b7a53ca0a7dae303374ba49cd6cbbf0a6879d62d/lib/server/express.js#L142).

[2013-11-21 16:07] #72 closed, assigned to nobody

[2013-11-21 16:35] cedricziel commented on #72
Thank you for the quick response!

A look at that passage was actually the reason for me to ask here ;)

How would a request that gets successfully authenticated look like?

`GET /api/:resource?token=myToken` ?

Sorry for nagging you about that..

[2013-11-21 16:40] pilwon commented on #72
@cedricziel It's done using session cookie. Please refer to `Sessions` section of [Passport Documentation](http://passportjs.org/guide/configure/)

[2013-11-21 16:42] cedricziel commented on #72
Aha! :)

Sorry, seems i got the whole thing wrong.. I thought this was a bearer token I could use inside API requests fx.

[2013-11-21 16:44] pilwon commented on #72
@cedricziel Yeah I feel you. It took me a while to gain a thorough understanding of passport mechanism when I set this up a while ago.

[2013-11-21 16:49] cedricziel commented on #72
Would you mind having a fifth strategy implemented with passport-bearer? I would try my very best upon this ;)

I'd really like the idea to be able to authenticate via headers as they would be encrypted as well.

[2013-11-21 16:54] pilwon commented on #72
@cedricziel Is this what you're referring to? https://github.com/jaredhanson/passport-http-bearer

[2013-11-21 16:57] cedricziel commented on #72
Yessir!

[2013-11-21 17:15] pilwon commented on #72
@cedricziel Looks like it's also parsing `access_token` body & query params besides `Authorization` header field. I don't think most apps need a separate `access_token` field support unless it is built to function as a pure API server. Moreover, `ultimate-seed` is too fat for a pure API server case because it contains too many unused parts. It'll be much cleaner and wiser to build an express app f

[2013-11-21 17:56] cedricziel commented on #72
I hear you.

In fact I started with ultimate bc you tied it all together so nicely.
Hm.

This makes me think about if ultimate is the right tool for my use-case.

I thought I'd use ultimate because you showed it very good how one can have dynamic, static and api-resources sitting side by side.

[2013-11-21 18:15] pilwon commented on #72
@cedricziel In most scenarios `ultimate-seed` can take you very far. It's not a simplified web framework that abstracts away some of the powerful yet not frequently used features. Instead our approach simply wires and configures common things for you so you have a complete access to all the pieces for full customization. (ex: Express, Mongoose, Winston, Angular ,etc.) It's obviously opinionated in

[2013-11-25 05:26] steve21124 opened #73 "Is there social gem that work well with ultimate-seed?"
When searching for "social" express gem, I found https://github.com/dai-shi/social-cms-backend. Is there any other social gem that work well with ultimate-seed?

thanks

[2013-11-25 05:32] pilwon commented on #73
@steve21124 What you see in the demo gif of `social-cms-backend` is indeed pretty easy to do with `ultimate-seed`. Not sure what you mean by social gem.

[2013-11-25 08:08] steve21124 commented on #73
thanks. and agree it is pretty easy to do. Social means... users,posts,like,follow,comments,etc.

[2013-11-25 08:08] #73 closed, assigned to nobody

[2013-11-30 13:08] frankbolviken opened #74 "Running "grunt" from command line, starts up app but with errors (EMFILE, ulimit)"
![skjermbilde 2013-11-30 kl 14 13 15](https://f.cloud.github.com/assets/688190/1648785/35f3096e-59c1-11e3-8896-d43ca71157b3.png)
I run "grunt" in the terminal, and the app launches. But when grunt WATCH is starting to run, it just keeps printing out these messages:

After all this, the app is started and functioning, but live reload and stuff do not work. I have to manually shut down, and execute

[2013-11-30 19:19] pilwon commented on #74
@frankbolviken Could you try increasing the `ulimit` of your system?

[2013-11-30 20:47] frankbolviken commented on #74
Adding "limit maxfiles 16384 32768" to /etc/launchd.conf seems to fix the problem. Thanks for the heads up @pilwon But why is it loading that many files at the same time? it's not THAT many files in the app?
Nonetheless, it works :)

[2013-11-30 20:47] #74 closed, assigned to nobody

[2013-11-30 20:50] pilwon commented on #74
@frankbolviken I'm guessing it's some sort of inefficiency in the latest version of `grunt-contrib-watch` because I haven't seen this issue before. Thanks for reporting this, we'll see if we can find some fix without touching `ulimit`.

[2013-12-05 21:02] LarryEitel opened #76 "VERY intrigued with this project. Anyone successfully running this on Win8?"
I'm eye-balling the MEAN stack but I like what I see with ultimate-seed. I don't mind getting my hands dirty tweaking things but just curious.. has ANYONE successfully installed this project on Windows 8?
Thank You

[2013-12-05 22:49] DanieleSalatti commented on #69
Good idea, but make it easy to remove it: I will need to replace it with Paymill (the European counterpart).

[2013-12-06 03:01] pilwon commented on #69
@DanieleSalatti Having second thoughts, I believe we should keep it outside the main seed. If we ever integrate Stripe with `ultimate-seed`, we will make it an add-on.

[2013-12-06 03:09] pilwon commented on #76
@LarryEitel We'd love to add support for windows but we unfortunately do not have dev environment set up. Please refer to [this page](https://github.com/pilwon/node-ultimate/search?q=windows&ref=cmdform&type=Issues) for some hints or clues how some others were able to run on Windows. We'd love to merge your pull request if you ever figure out what to do.

[2013-12-10 18:25] LarryEitel commented on #76
Got a dial-tone with your project on Win8 dev box!

I was having issues with running `bcrypt` on Windows. I forgot that I crossed this bridge before. In this case, I ripped out `"bcrypt": "~0.7.7"` from `package.json` and replaced with `"bcrypt-nodejs": "~0.0.3"`. See: https://npmjs.org/package/bcrypt-nodejs. In `/server/models/User.js'`, I replaced `bcrypt = require('bcrypt')` with `bcrypt = requ

[2013-12-10 18:35] pilwon commented on #76
@LarryEitel That's great to hear. In the past we actually switched to from `bcrypt` to `bcrypt-nodejs` but had to switch back as someone reported an issue with it. (https://github.com/pilwon/ultimate-seed/commit/655be0a74df35722aebf9244d84d1f3afac45b5d) Maybe that person got it the other way around. Please test and see if we could safely use the node.js native implementation version of bcrypt and

[2013-12-10 19:08] LarryEitel commented on #76
I'll look into it. I remember I had to also comment out the code inside `/npm-scripts.js` `postinstall()`. I manually created configs based on samples.

[2013-12-11 20:54] Kyii opened #77 "AngularJS - Load directive HTML template via templateURL - i get a "page reload loop""
AngularJS related: if i try to load a directive HTML template via templateURL i get a page reload loop. inline template works fine.

i guess my "issue" is connected to the "module.exports" concept of node which i don't understand enough now.

can someone point me in the right direction or give some advice?
thanks.

[2013-12-12 03:54] pilwon commented on #77
@Kyii In order to use templateUrl you need to make sure template files are actually served by the web server. The easiest way is to place all lazy loaded template files in the `static` directory by mirroring directory path of angular module templates (or use symlink). Otherwise you'll need to attach static express middlewares for `client/js/*/templates`.

[2013-12-12 03:54] #77 closed, assigned to nobody

[2013-12-12 10:15] Kyii commented on #77
@pilwon thanks! very much appreciated.

[2013-12-13 23:49] LarryEitel opened #78 "WebSocket connection ... failed: Unexpected response code: 502"
Just wrapping my head around socket.io. It is not immediately obvious where to poke around to resolve this error:

`WebSocket connection to 'ws://m.ourfield.org/socket.io/1/websocket/lGrcXjTQkWbeuk9QELbq' failed: Unexpected response code: 502`

Perhaps related, the following is also recurring continuously:

`Uncaught ReferenceError: io is not defined`

Clues are appreciated. :)

[2013-12-14 00:03] pilwon commented on #78
@LarryEitel Make sure your web server supports websocket. ([Heroku](https://devcenter.heroku.com/articles/heroku-labs-websockets), [Nginx](http://nginx.com/news/nginx-websockets/), etc...)

[2013-12-14 00:05] #78 closed, assigned to nobody

[2013-12-14 00:57] LarryEitel commented on #78
Thank you @pilwon. For anyone tuning in, here is what my nginx conf looks like now:

[code]

If anyone has any refinements they would like to suggest, do share. :)

[2013-12-17 21:18] slim2000 opened #79 "/account/summary broken links from connect buttons"
Hello,

First... AWESOME project, thank you!

The seed works great so far though I'm experiencing one issue.  Once I've done a login with any of the third party services (e.g. Facebook), and then I look at my profile at /account/summary, if I click on the 'other' two services to connect to (e.g. Google or Twitter) then I get a 404 error.   However, if I back out to the index page and click on eith

[2013-12-17 21:23] pilwon commented on #79
@slim2000 I'm glad you like the project and thanks for reporting the error. I'll have a look at this.

[2013-12-17 21:30] LarryEitel opened #80 "karma ReferenceError's"
Working on getting all tests to pass and haven't found a way to resolve the following errors:

[code]

Thanks in advance for any 'insights'.

[2013-12-17 21:48] pilwon commented on #80
@LarryEitel Test runners are not properly set up. Using `browserify` that is currently used in our seed is extremely useful for organizing client-side JS. But apparently it makes testing of Angular code somewhat challenging. We haven't looked into this in detail yet. It someone figures out how to set this up please submit pull request.

[2013-12-17 21:49] pilwon commented on #80
Related issue: https://github.com/pilwon/ultimate-seed/issues/11

[2013-12-17 21:59] #79 closed, assigned to nobody

[2013-12-18 15:20] slim2000 opened #81 "Bower link outdated"
A minor issue where you list all components in ultimate-seed (e.g. index page, readme)

The link to Bower is no longer http://twitter.github.io/bower/, it's https://github.com/bower/bower

[2013-12-18 15:31] #81 closed, assigned to nobody

[2013-12-18 15:32] pilwon commented on #81
@slim2000 Thanks!

[2013-12-18 20:52] yaru22 opened #82 "What's the reason to use grunt-browserify2 as opposed to grunt-browserify?"
It looks like [grunt-browserify](https://github.com/jmreidy/grunt-browserify) is more active than [grunt-browserify2](https://github.com/shanejonas/grunt-browserify2). And it seems to support Browserify v3 as well.

Just curious, what was the reason to use grunt-browserify2?

Thanks.

[2013-12-18 21:15] pilwon commented on #82
@yaru22 Not sure. Probably at the time I set up it didn't support browserify2. Right now it works fine but I don't mind switching if that's a better way to go.

[2013-12-18 21:15] #82 closed, assigned to nobody

[2013-12-21 18:11] yaru22 commented on #59
Let's consider using [deployd](http://deployd.com). Nice finding @pilwon

[2013-12-24 13:15] Kyii opened #83 "Give access to a resource only if it is the user's resource"
first of all, i would like to thank you for tying up everything so nicely, as a noob i'm learning a lot from it.

currently i wonder how to achieve a typical requirement of every application: give access to a resource (say books) only to the currently logged in user if "it is his resource" or if he "owns" it.
if i use your restify.model or ensureUser functions (which use the passport library) i ca

[2013-12-24 14:48] pilwon commented on #83
Thanks for your kind words @Kyii :)
Right now there's no easy way to do what you described because what you see in the current seed is just a proof of concept that cannot handle various tasks you'd expect. However @yaru22 and I actually started some discussions on that lately so expect to see the rework soon. In the mean time if you need it right now, take some time to learn Express req/res system

[2013-12-27 04:15] pilwon opened #84 "Move README to Wiki."
README is getting lengthy so we need to organize docs into Wiki pages.

[2013-12-29 01:21] MarkMarine commented on #84
Want some help with this? I can take this on

[2013-12-29 20:03] pilwon commented on #84
That's such a generous offer @MarkMarine :+1: :+1: :+1:

I've just created an empty [Wiki](https://github.com/pilwon/ultimate-seed/wiki) and opened up edit permission to public. Starting with something simple is more than awesome for now but eventually it'd be great to turn that into more structured, well documented pages such as [ui-router Wiki](https://github.com/angular-ui/ui-router/wiki). Plea

[2014-01-03 07:46] yaru22 opened #85 "Registering user (i.e. create local) after connecting with FB or G+ fails"
Here are the steps:
1. Create an account by connecting with, for example, Google+ account
2. Logout
3. Register a user (i.e. passport local strategy) that has the same email address as the Google+ account above

Expected:
the new info (e.g. password) should be added to the existing account

Actual:
spits out an error message saying "data and hash arguments required"

[2014-01-03 08:06] #85 closed, assigned to yaru22

[2014-01-03 13:26] 0xgeert opened #86 "what's the 'storage/s3' object used for in config?"
What's the 'storage' object used for in the config files? I.e.:

[code]

[2014-01-04 02:29] pilwon commented on #86
@gebrits It is currently not used anywhere in the seed. It is more of a guideline or a suggestion. You can safely remove those values in config or just leave it as is. You will find this config object convenient when your application requires integration with a cloud-based storage service.

[2014-01-04 02:29] #86 closed, assigned to nobody

[2014-01-07 08:05] pilwon commented on #84
@MarkMarine Sorry I've just checked your tweet message. If you'd like to discuss something with me privately please send me an email found on my website linked from my profile page. (I wanted to start this e-mail conversation but couldn't find your contact info)

[2014-01-25 23:09] hbzhang opened #87 "Get the following eror with fresh install on Mac, why?"
Running "watch" task
Waiting...GET / 304 284ms
GET /js/vendor/modernizr.js?1390688487863 200 71ms
GET /css/main.css?1390688487863 200 156ms
GET /js/main.js?1390688487863 200 8ms - 0b
GET /js/node_modules/bower_components/animate.css/animate.css 304 5ms
2014-01-25 18:02 grunt[70559](CarbonCore.framework) FSEventStreamStart: register_with_server: ERROR: f2d_register_rpc() => (null) (-21)
2014-01-25

[2014-01-26 06:35] pilwon commented on #87
@hbzhang Does it completely fail to run or does it run fine with those messages printed? This must be related to https://github.com/joyent/node/issues/5463 and https://github.com/gruntjs/grunt-contrib-watch/issues/75.

[2014-01-26 21:51] hbzhang commented on #87
It does not seem to make the app fall absolutely. However, I still can catch the error in the console. It might be good to get rid of the error. Also, the error only appears when start the app with grunt. However, if started with node server. Then did not able to see this error.

One more thing, sorry, not an issue at all. The fresh install did not give anything close the Heroku demo. Just blank p

[2014-01-28 18:26] theganyo opened #88 "Blank page on startup (FSEventStreamStart: register_with_server)"
Using either Yeoman or Git Clone to install (I tried both), I get nothing but a blank screen in the browser when I run grunt. This is what I did:

[code]

This fails with the error:

So I did a rebuild...

[code]

At this point I get a blank screen in the browser. This is at the end of the console:

(Actually, many of those ERROR lines... but they aren't emitted again after the first request - ie.

[2014-01-28 18:33] hbzhang commented on #88
I exactly get the same thing as you. This definitely should be fixed. U - S is a great project, which should deliver more amazing stuff to people right after fresh install.

[2014-01-28 18:53] theganyo commented on #88
Sounds good! :)

In the mean time, I'm new to most of the packages included in the stack and I don't know where to start to get this working (or how to build on it for that matter). I was hoping to jumpstart a new project with a nice, complete stack like this... but is this maybe not the best base to start with?

[2014-01-28 19:19] yaru22 commented on #88
@scottganyo, what version of node (node --version) and what OS are you using? I just did a fresh install on my Ubuntu 13.04 64bit with node v0.10.25 and except for a bower package hiccup (angular-ui-router), which @pilwon is fixing right now, I didn't have any problem that you mentioned. Maybe knowing what node version and OS you are using might help us identify the problem?

[2014-01-28 19:21] pilwon commented on #87
Closing this issue due to duplicate issue #88

[2014-01-28 19:21] #87 closed, assigned to nobody

[2014-01-28 19:21] theganyo commented on #88
Good point! Node v.0.10.25 on OS X 10.9.1. (Both are the latest stable versions.)

[2014-01-28 19:27] pilwon commented on #88
@scottganyo @hbzhang Thanks for reporting guys.

The fix was committed 6a625a9e5c8a0f926cd08d01d476a2f3bb58fa0f. Please pull the latest version from the master branch and run `bower install && npm install` and `grunt` again. I have a feeling that `FSEventStreamStart` is an isolated issue that's just a warning message, therefore this fix could possibly fix the empty page issue you experienced. You

[2014-01-28 19:33] theganyo commented on #88
Fantastic. Thanks!

[2014-01-28 19:33] #88 closed, assigned to nobody

[2014-01-28 19:38] pilwon commented on #88
@scottganyo Does it work? Do you still see the `FSEventStreamStart` error message? Please try and share the result with us. (cc: @hbzhang)

[2014-01-28 19:54] pilwon commented on #88
@scottganyo `ultimate-seed` can meet all kinds of usage scenarios and the main benefit is that it is a AngularJS + Express based seed rather than a whole new framework. Everything you learn from this project can be directly applied to and shared with other projects. Learning how to build an app using `ultimate-seed` means learning Express, AngularJS, Mongoose, and others that you would normally us

[2014-01-28 20:46] theganyo commented on #88
@pilwon @hbzhang Yes, the update worked. Thanks! But, yes, unfortunately I still do get the FSEventStreamStart error.

Thanks for the explanation of U-S. I'm planning to give it a go and see where it takes me!

[2014-01-28 21:33] hbzhang commented on #88
Great. Thanks for the quick fix!

[2014-01-30 00:39] theganyo opened #89 "REPL failure"
Hey. Was reading about using the REPL here:

https://github.com/pilwon/ultimate-seed#using-repl-read-eval-print-loop

Tried the command:

`nc -U /tmp/ultimate-repl`

But it just silently fails (even when I use -v). Upon investigation, I don't see a config item for this in the `config/*.json` files. Nor does the `/tmp/ultimate-repl` directory exist.

OS X 10.9.1, node v0.10.25

Thoughts? Thanks!
Sc

[2014-01-30 02:22] yaru22 commented on #89
@scottganyo, could you try changing `server.repl` to `true` in `project.json` file and try again?

[2014-01-30 03:12] theganyo commented on #89
Not quite.. but close enough. I figured it out from there.

Once that property is enabled, it started creating the appropriate files in `/tmp`. However, the files created in `/tmp` have the PID as part of the name. So now I can connect to the file with the appropriate PID appended. Ie:

`nc -U /tmp/ultimate-repl.98996`

So there's definitely a doc issue... and maybe also a code issue, but it's wor

[2014-01-30 15:35] #89 closed, assigned to nobody

[2014-01-30 22:46] theganyo opened #90 "Can't figure out the wiring"
Hey guys,

This may just be an angular question, but I'm not sure and I haven't found any documentation on how all this stuff wires together... so please forgive a stupid question...

Basically, I'm just trying to figure out how to wire up a new page on the client to a new service on the server using the cool angular and rectangular stuff. I started with something simple in the /server hierarchy:

[2014-01-30 23:46] pilwon commented on #90
@scottganyo Have a look at how `features` is implemented. Angular fetches the `features` data from the features API endpoint from the server.

[2014-01-30 23:46] #90 closed, assigned to nobody

[2014-01-31 00:08] theganyo commented on #90
Yeah, I tried that. Anyway, never mind. I'm switching my strategy to something simpler. Thanks!

[2014-01-31 00:13] pilwon commented on #90
@scottganyo `ultimate-seed` is already set up to use MVC (both on server and client sides) and the seed itself contains example code demonstrating different ways to use the seed. I'm not sure what you're having trouble with but this may help you: #58 and #65

[2014-01-31 16:58] denysbutenko opened #91 "Not working with angular-ui-router#0.2.7"
Only empty footer visible on page.

[code]

After install angular-ui-router#0.2.0 - works fine!

[2014-01-31 17:00] pilwon commented on #91
@denysbutenko Can you `git checkout` the latest version and run `bower install` again?

[2014-01-31 17:11] denysbutenko commented on #91
@pilwon Yes, this works fine, if I'm installing with method 2, but if install with `yo generator-ultimate` not work.

[2014-01-31 17:33] pilwon commented on #91
@denysbutenko Ah right, I forgot to update yeoman package.

[2014-01-31 17:35] pilwon commented on #91
@denysbutenko Just updated yeoman package. Please try again now. Thanks for reporting.

[2014-01-31 17:35] #91 closed, assigned to nobody

[2014-02-10 10:15] dibster opened #92 "Get blank browser window when I start the application"
Tried both yo ultimate-seed and git clone method. Same problem. Have checked and I have the correct version of node. Mongo and redis installed locally.

I have been building a prototype of an app using the angular-seed , and would like to investigate this project as a framework. I haven't changed anything, wanted to start it up and see what it does....

This is what I get when I start the app (usi

[2014-02-10 10:26] pilwon commented on #92
@dibster Your `grunt` output looks fine. I've just installed fresh using the current code base and it seems to work fine. I'd like to help with debugging but please provide more info:
- What do you see when you run `node server` after `grunt`?
- What do you see when you do `view source` in your browser?
- What do you have in `.tmp/js/main.js`?

[2014-02-10 10:49] dibster commented on #92
[code]

main.js, will tar and upload somewhere

view source get "No Data Received"

[2014-02-10 10:50] dibster commented on #92
main.js

https://www.wetransfer.com/downloads/ee1c55854aa6477b25160db4d026826220140210104648/1ecd2dfcebe1fe3cc900f29d0fc0694f20140210104648/a1a6bb

[2014-02-10 10:53] pilwon commented on #92
@dibster Did you accidentally close this issue? You don't need to show the entire `main.js` file. What operating system do you use?

[2014-02-10 10:55] dashenhurst commented on #92
yes I did close it by mistake

I use ubuntu 13.04

[2014-02-10 10:59] pilwon commented on #92
@dashenhurst If those files are correctly generated and you don't see anything served by the express server, static file serving middleware of express is probably not working correctly. Do you see the error page at `http://localhost:3000/404.html`?

[2014-02-10 11:03] dibster commented on #92
No that doesn't come up either. So looks like it is some sort of express express problem then.

I will have to investigate this later, as this is a side project and I am at work at the moment

[2014-02-11 01:53] bluepeter opened #93 "Heroku needs updating"
The Heroku link hasn't been updated for a while. It was confusing when I couldn't find the "status" link in the nav bar on my local version, when it's clearly there in the demo. I saw that that link has been moved, but that took a bit of time to track down.

[2014-02-11 18:18] dashenhurst commented on #92
hello, I rebuilt my ubuntu machine and its now working fine, it is very possible that my express installation got messed up at some stage, and as I have been installing many frameworks and all sorts of things on it , a rebuild was necessary. This post is probably not useful to anyone so probably delete it

I will let you know how it works as i plan to migrate my angular-seed project into your stru

[2014-02-11 18:21] pilwon commented on #92
@dashenhurst Glad it's working now. Hope you enjoy this seed.

[2014-02-11 18:21] #92 closed, assigned to nobody

[2014-02-19 14:51] diegopamio commented on #29
Can this be integrated with keystonejs?

[2014-02-19 14:52] diegopamio opened #96 "Consider support Jade as an alternative to Handlebars?"
For me this seed is perfect, except that I like Jade over HB for templating.

[2014-02-20 01:41] bluepeter opened #97 "features.js overriding doesn't seem to work?"
Uncommenting the functions does not override the restify.model controllers in https://github.com/pilwon/ultimate-seed/blob/master/server/controllers/api/features.js as the comment suggests.

Does another route needed to be appended to `routes.js` for that to work? If you could give some examples of how to over-ride, that'd be great. I see that there's support for passing additional functions in Re

[2014-02-21 03:41] pilwon opened #98 "Find a solution to re-enable mangling option for grunt build."

[2014-02-21 08:21] pilwon commented on #93
@bluepeter The latest version 551b36a79188136c6ceb41a8f3b6e8562e025c0c has been deployed at http://ultimate-seed.herokuapp.com

[2014-02-21 08:21] #93 closed, assigned to nobody

[2014-02-22 02:52] bluepeter opened #99 "De-couple Ultimate Seed from Ultimate Seed Library."
Can I recommend that a set-up option might be to fully de-couple Ultimate Seed from the [Ultimate Seed Library](https://github.com/pilwon/node-ultimate)?

The reason for this is because that library contains a lot of custom code, particularly the Restify stuff. As you noted in an issue in that repo about that functionality, it's quite limited (e.g., doesn't accept params) and designed for the rath

[2014-02-22 11:43] diegopamio commented on #11
This looks to be already implemented, right?

[2014-02-22 11:47] pilwon commented on #11
@diegopamio End-to-End (E2E) testing was set up with Protractor, but unit testing with Karma is yet to come. We welcome your code contribution on that.

[2014-02-22 12:17] pilwon commented on #99
@bluepeter Thanks for opening request.

We acknowledge this problem you pointed out. A complete de-coupling might be a problem though because some common boilerplate code are better be shared among multiple projects for other reasons. However, a significant cleanup and structural re-design are planned for the `koa` branch that is a new branch we started to target the new `node --harmony` environme

[2014-02-22 12:20] pilwon commented on #96
@diegopamio We do not current support an option to change the template engine, but this may come to the `koa` release later.

[2014-02-22 15:20] bluepeter commented on #99
Thanks, good call.

I now understand a bit more about native routes in Express. However, since I was using Ultimate to learn, I didn't initially: and I figured that Restify was either a separate third-party module, or just "the way to do things."

It took a bit of digging around to find that it was your custom code. I'd perhaps highlight that in comments. (It doesn't help that the name, Restify, i

[2014-02-23 13:07] pilwon commented on #99
@bluepeter We are destined to move to `koa` because that's the future of node.js programming but we will not completely swap out Express until Koa gets stable enough. That means Express will likely to stay for a while.

[2014-02-24 04:42] #99 closed, assigned to nobody

[2014-02-24 04:44] bluepeter opened #100 "Why no logging of IP address to express.log?"
Just curious why not? Or if there is some other pattern which is preferable for that?

[2014-02-24 07:59] pilwon commented on #100
@bluepeter It's just because we haven't put enough effort in it. We'd appreciate your contribution on that if you think that's the right thing.

[2014-02-24 07:59] #100 closed, assigned to nobody

[2014-02-25 17:16] #96 closed, assigned to nobody

[2014-02-28 08:19] pilwon commented on #71
All modules that has a real size > 1mb...

_where_ `real size` = `total module directory size` - `sum of its sub-module directories`

| Real Size (MB) | Size (MB) | Name | Version | Path |
| --- | --- | --- | --- | --- |
| 10.8832960129 | 49.9334955215 | barbeque | 0.2.1 | node_modules/barbeque |
| 9.21323013306 | 9.59646987915 | phantomjs | 1.9.7-1 | node_modules/karma-phantomjs-launcher/node_mod

[2014-03-01 07:21] steve21124 opened #101 "Dynamic collection/table creation from rest post?"
Dynamic collection/table creation from rest post?  is it possible?

[2014-03-03 20:19] bluepeter opened #102 "Pull Requests for code updates?"
Hi guys: Any chance you can do PRs for new code updates? That way they'll appear as issues and us watchers can get alerts. Also, it'll help to better isolate code around specific features/etc.

[2014-03-03 20:51] pilwon commented on #102
@bluepeter We appreciate your excellent suggestion. We actually discussed that internally already, and our conclusion was to keep it the same way for now. The biggest reason was because it would introduce us some overhead and possibly slow down the process, when we already have limited time and resources to maintain this project.

Just to give you a better idea.. if you look at many other popular

[2014-03-03 20:51] #102 closed, assigned to nobody

[2014-03-06 00:28] bluepeter opened #104 "Question: documentation/third-party redirect handler?"
Hi guys:

Mind pointing me to any documentation on the redirection syntax in, e.g., https://github.com/pilwon/ultimate-seed/blob/5e5c129e1494da23e16bd5227c0af8d20af0b63b/client/js/auth/index.js#L44-L48

I see the custom redirect service, but not sure if there's some documentation of the various rules? These rules don't appear to be part of angular-ui?

[2014-03-06 00:32] pilwon commented on #104
@bluepeter This is from our custom `route` service. You can find it in the shared module. Check [this code](https://github.com/pilwon/ultimate-seed/blob/5e5c129e1494da23e16bd5227c0af8d20af0b63b/client/js/shared/services/route.js#L21) It is based on `ui-router`.

[2014-03-06 00:32] #104 closed, assigned to nobody

[2014-03-06 00:37] bluepeter commented on #104
Thanks, yeah, I saw that... for these sorts of things might be cool to eventually add comments a la, for example, https://github.com/angular-ui/ui-router/blob/master/src/urlMatcherFactory.js

[2014-03-06 01:18] pilwon commented on #104
@bluepeter Yeah I completely agree that we should have something like that soon.

We prefer not to mix the comment/documentation with the source code though, because this is a seed project rather than a full framework or library module. We believe if you already know how to use the seed then you would not want too many comments pre-occupied in the project. You might prefer to include your own comm

[2014-03-06 01:27] bluepeter commented on #104
Thanks, good points. Yep, I hope to contribute lots more once I come up to speed not only on your project but all the associated technologies! I hope to launch a little alpha Twitter analytics site using Ultimate next week or so. (I'll let you know when it's live.)

[2014-03-06 01:36] pilwon commented on #104
@bluepeter I'm very excited to hear that. Please share it with us if possible. This project was started out of my personal needs (there was nothing out there like this one), but as you might have seen it already, there is some great value offered by this project. It can potentially help a lot more node.js developers with their projects. With your contributions we can really make this happen. (and

[2014-03-06 07:25] kerimdzhanov commented on #104
You're very impressed me guys! I'm following you! :+1:

[2014-03-07 02:34] kerimdzhanov opened #105 "Outdated dependencies (PR proposal)"
Hi to all! I would like to go through the outdated dependencies and update them to the latest appropriate versions in `package.json`. I won't update a major numbers for now, because it may take much longer time than i expect, but there are already many dependencies that lacks some latest bug fixes and probably optimizations.

To make my PR valuable and not just wasting a time i would like to hear

[2014-03-07 02:44] kerimdzhanov commented on #105
Here is the state of current `npm outdated --depth 1`:

[code]

[2014-03-07 03:21] pilwon commented on #105
@kerimdzhanov So thoughtful of you to ask this question before contributing.

### Updating dependencies

We've done quite a few batch dependency updates in the past and every time we had to spend extra time and effort ensuring nothing is broken by the updates. As long as nothing is broken by the update, we'd love to do it as often as possible. It was always a manual process so the update cycle has

[2014-03-07 12:58] kerimdzhanov commented on #105
Hi @pilwon!

I suspected that there are some pitfalls on using `~>`, that's why i started this discussion.
Now i understand the lack of `Gemfile.lock` in `npm` like in `bundler` for ruby. I don't know how it may help to the project, seems this suggestion is more likely to `npm`.

Regarding to the `npm outdated` command, yeah this is very useful, and seems for now `npm update` is the only approach

[2014-03-08 14:41] yaru22 commented on #37
https://prerender.io/ seems to be the best candidate so far.

[2014-03-08 14:45] yaru22 commented on #30
We can use https://github.com/koajs/ratelimit once we move to Koa.

[2014-03-11 10:11] kerimdzhanov commented on #105
Please, be sure to read this when you have a time: http://www.futurealoof.com/posts/nodemodules-in-git.html (5-7 minutes to read).

The main points are:
- Version locking doesn't makes a sense, because it locks only a top level dependencies.
- `node_modules` directory should be checked out in to the repo, but only for a deployed applications (something like an end point of source delivery), but li

[2014-03-15 19:05] yaru22 commented on #98
`ngmin` is not working seamlessly with our project setup.

For example, if I run `ngmin` on one of our controllers (e.g. `auth/controllers/login.js`), this is what we get:

[code]

The dependencies are not annotated correctly because `ngmin` doesn't know that `ngModule` is `angular.module(...)` since it's coming from external source.

I think this work (btford/ngmin/pull/61) can be used for our pu

[2014-03-23 01:10] digitaledge opened #106 "Uncaught SyntaxError after Installation"
Hello,
I am getting the following error when I try to load the webpages.
The pages are not rendering at all, it keeps white.

Uncaught SyntaxError: Unexpected token < :3990/js/vendor/modernizr.js?:1
Uncaught SyntaxError: Unexpected token < main.js:1
GET http://dev.cosmos3d.com:35729/livereload.js net::ERR_CONNECTION_REFUSED (index):53
(anonymous function) (index):53

Console tells:
GET /css/main.c

[2014-03-23 06:37] andrew-luhring opened #107 "it can never be simple. npm install fails."
## npm install fails with:

[code]

[2014-03-23 06:41] andrew-luhring commented on #105
I think:
https://github.com/pilwon/ultimate-seed/issues/107

[2014-03-23 13:30] yaru22 commented on #106
Hi @digitaledge, just a quick question. How did you setup `ultimate-seed`? Did you clone GitHub repo or use Yeoman generator? If you cloned GitHub repo, did you run it from `master` branch or `dev` branch? And what OS are you using?

Also, when you ran `grunt` to start the server, did you see any error message? If you can post the output of `grunt`, that would help us identify the problem.

[2014-03-23 13:54] #107 closed, assigned to nobody

[2014-03-23 14:06] yaru22 commented on #107
Hi @andrew-luhring, thanks for reporting the error. I updated the karma related dependencies to fix the above error. Please give it another try and let us know if you see any other problems!

[2014-03-24 20:36] thomasorten opened #108 "Cannot push to Heroku"
Hi there!

I'm trying to push to Heroku, but I get a build error. Locally it works fine. I pulled from github, not yeoman. Any help would be appreciated!

First it fails here:

[code]

Then details at the end:

[code]

[2014-03-24 20:40] thomasorten commented on #108
Btw, I had to change in my package.json  "grunt-karma" to "0.8" and "karma" to "0.12.0", or else the build would fail, also locally.

[2014-03-24 20:40] pilwon commented on #108
@thomasorten Try forcing git push `git push heroku master -f`

[2014-03-24 20:56] yaru22 commented on #108
@thomasorten, which node version are you using? Is it v0.10.x or v0.11.x?

Also, in the latest repo, `package.json` should already have the latest `grunt-karm` and `karma`. You should do `git pull`.

[2014-03-24 21:43] thomasorten commented on #108
@yaru22 Locally, 0.10.22. I tried both .22 and .26 on Heroku. Did a pull, and reinstalled modules dir. Still no luck..

@pilwon Didn't work, unfortunately, same error.

[2014-03-27 17:46] andrew-luhring commented on #107
@yaru22  Now the error is:

[code]

[2014-03-27 17:48] yaru22 commented on #107
@andrew-luhring, did you run `bower install`?

[2014-03-28 17:41] andrew-luhring commented on #107
ran npm install

[2014-03-28 17:42] andrew-luhring commented on #107
no bower install; normally you just do npm install and it installs everything.

[2014-03-28 17:45] yaru22 commented on #107
@andrew-luhring, you do need to run both `npm install` and `bower install`. `npm install` is for dependencies for the backend and `bower install` is for dependencies for the frontend.

Please see https://github.com/pilwon/ultimate-seed#method-2-git-clone.

Also, regarding your `npm install` failure, could you clone the repo fresh and try it again? We pushed some changes the past few days.

[2014-03-28 18:10] pilwon commented on #107
@andrew-luhring This statement is incorrect. Some node.js projects are set up this way only because the author set it up like that. We chose not to support chaining `bower install` with `npm install` for finer control. We'd advise you to read through [Installation](https://github.com/pilwon/ultimate-seed#installation) section of README.

[2014-03-28 21:45] andrew-luhring commented on #107
Weird.
I know I didn't use bower ever, and I don't think I cloned it... maybe I started it with yeoman.
I'll look at it when I get home.

[2014-03-29 05:32] pilwon commented on #107
@andrew-luhring Are you trying it with Yeoman generator? Then it should run both `npm install` and `bower install` with a single command `yo ultimate`. Now that we understand your installation method, the new advice is to either wait for the next Yeoman generator release (it's slightly lagged behind repo's master branch so you might be using an older version) or simply try with @yaru22 's suggesti

[2014-03-29 07:33] pilwon commented on #107
@andrew-luhring We've just published v0.3.9 to Yeoman generator `generator-ultimate`. Please try again.

[2014-03-29 13:30] timaschew opened #109 "How to access to express?"
I don't see that express is required.
I searched in this file: https://github.com/pilwon/ultimate-seed/blob/master/server/app.js but didn't find where the property `express` of the object `app.servers` is set.

[2014-03-29 15:16] JasonGiedymin commented on #59
Any thoughts on swagger? It does have some npm modules and is used across langs and platforms.

[2014-03-30 03:21] pilwon commented on #109
@timaschew `ultimate` is the dependency library for `ultimate-seed`. [This is what you are looking for.](https://github.com/pilwon/node-ultimate/search?q=express)

[2014-03-30 03:21] #109 closed, assigned to nobody

[2014-03-30 20:24] timaschew commented on #109
thanks ;)

[2014-04-01 09:10] Kyii opened #110 "redirect after successful login fails if query string is null"
just to let you know. i came across this in my project, but i could reproduce it in the ultimate-seed heroku hosted version.

if the url query string is null the redirect after a successful login fails.
in 149 client/js/auth/services/auth.js i had to change

[code]

TO

[code]

because i dont know exactly why the redirect fails.

[2014-04-10 15:14] cevn commented on #108
I'm having this same problem right now. Any resolutions?

[2014-04-24 19:21] danielmahon commented on #108
bump

[2014-04-26 16:06] johnjelinek opened #111 "The Docker base image is missing"
[code]

[2014-04-26 17:28] johnjelinek opened #112 "Support SASS instead of LESS"
Can we integrate https://github.com/sindresorhus/grunt-sass please?

[2014-04-26 17:29] johnjelinek opened #113 "SockJS Support"
Can we migrate to SockJS instead of Socket.io?

[2014-04-26 17:38] pilwon commented on #112
Related to #2.

[2014-04-26 17:38] #112 closed, assigned to nobody

[2014-04-26 18:18] johnjelinek commented on #112
There is SASS support already built-in? I didn't see it mentioned on the repo description, readme, or in the gruntfile.

[2014-04-26 18:39] johnjelinek opened #114 "REPL socket missing"
I did `sudo find / -name 'ultimate-repl*'` to see if I could find the unix socket on Mac OS X 10.9. It didn't come up with anything and it's not in `/tmp` or `/private/tmp`. Any suggestions?

[2014-04-26 19:18] johnjelinek commented on #114
I found this in the console, the search continues ...

[code]

[2014-04-26 19:23] johnjelinek commented on #114
lol, found it: https://github.com/pilwon/ultimate-seed/blob/master/project.json#L16

[2014-04-26 19:23] #114 closed, assigned to nobody

[2014-04-26 20:43] johnjelinek commented on #114
What do you think about moving the server attributes from `project.json` to the config json, this way changing `repl`/`port`/`livereload` won't require a commit?

[2014-04-26 21:29] johnjelinek opened #116 "Bug: You can register over someone"
I ran the protractor test to register a new user. It's strange that it was able to pass the tests multiple times when creating the same user on each run. I think this is a problem. I then discovered that I can register over an existing user by using the same e-mail address, but different name.

[2014-04-26 21:41] johnjelinek commented on #116
I looked in the database, and there is only one record per e-mail address, so the latest registrant overrides any existing ones with that e-mail address.

[2014-04-26 22:07] johnjelinek commented on #116
False alarm, this will only hijack an account if they type in the same user and password (even with a different name). If there's a different password, it will kick back with an error. I see the code here: https://github.com/pilwon/ultimate-seed/blob/master/server/models/User.js#L185-L195

[2014-04-26 22:07] #116 closed, assigned to nobody

[2014-05-03 17:44] johnjelinek opened #117 "Where does the accessToken get set?"
From my analysis, it seems that perhaps the accessToken is created on the first login of a new user. I have a process where an admin creates new users manually, but if leave out:

[code]

from the user-add process, then the access token is not generated. Should I just manually create the tokens?

[2014-05-03 17:57] johnjelinek commented on #117
I think I can do this in the Users model in the meantime:

[code]

[2014-05-03 18:05] pilwon commented on #117
@johnjelinek [This is the code](https://github.com/pilwon/node-ultimate/blob/260a8d1c829bb4fac71f99b5f0245385846ce583/lib/server/express.js#L142-L173) where the `accessToken` gets updated on each Passport serialization. Are you adding this `pre` Mongoose middleware because you are getting an error? `accessToken` is something that is created on the fly so you don't need to manually assign this valu

[2014-05-03 18:05] #117 closed, assigned to nobody

[2014-05-03 18:09] johnjelinek commented on #117
I'm getting an error that the accessToken already exists upon account creation. However, my flow is different, it's an invite-only type of flow. So register workflow isn't publicly accessible, rather admins manually create accounts and then the user gets notified with their login credentials. passport.serialize must not be getting called because the session never ends even though the admin is regi

[2014-05-03 18:28] pilwon commented on #117
@johnjelinek I understand your use case but is there a reason why you would not want to expire your user sessions?

[2014-05-03 18:30] johnjelinek commented on #117
I want to expire the user session when the admin logs out, not upon user registration.

[2014-05-03 18:35] pilwon commented on #117
@johnjelinek A user login session is established upon a user login, and it is terminated upon user logout (not the admin logout nor user registration). I believe I am not seeing a clear picture of the "expire the user session when the admin logs out" use case.

[2014-05-03 18:39] johnjelinek commented on #117
The scenario is that if I reuse the existing registration function, it registers the user, and then does `req.logIn` which sets the session to the new user that just registered. I guess at that time, it does the passport serialize. I took out `req.logIn` and so prevented session resetting and passport serialization.

[2014-05-03 18:42] pilwon commented on #117
@johnjelinek Aha, you meant not calling the serialize or logIn functions on the admin's user session. I was confused with the actual user's user session. It makes sense now.

[2014-05-03 18:44] johnjelinek commented on #117
@pilwon yes, that's right :) Is my approach appropriate (`schema.pre('save'`)?

[2014-05-03 19:09] pilwon commented on #117
@johnjelinek Looks like that error you mentioned occurs from the second user without an `accessToken`. (fails the uniqueness test against the first user with an empty `accessToken`) I could think of few ways to work around this error.
1. Your solution. I believe it's an easy and sound solution to this. The only downside is the `pre` middleware now needs to be called for every `save()` on the User

[2014-05-03 19:12] johnjelinek commented on #117
Cool, thanks for your suggestions!

[2014-05-03 20:57] #111 closed, assigned to nobody

[2014-05-03 21:00] pilwon commented on #113
@johnjelinek This looks like a fantastic replacement.

@yaru22 What do you think about [SockJS](http://sockjs.org)?

[2014-05-04 13:57] yaru22 commented on #113
Just some thoughts here...

I've seen a few people saying not to use `socket.io` 0.9 as it doesn't scale horizontally and susceptible for DDoS attack and I'll take their advice. However, `socket.io` seems to be in active development for 1.0 release and so is [`engine.io`](https://github.com/LearnBoost/engine.io) (communication layer for `socket.io` but you can use it without `socket.io`).

Looking

[2014-05-04 14:06] johnjelinek commented on #113
Yea, I think primus + SockJS makes sense.

[2014-05-08 02:50] johnjelinek opened #118 "Weird Error"
My server crashed in production, it looks like it received some weird POST requests causing it to go down. Can you take a look at the stack trace to see if it makes any sense to you?

[code]

[2014-05-08 02:52] johnjelinek commented on #118
Note: the POST message decodes to

[code]

Looks like something was trying to hack it, no?

[2014-05-08 02:59] johnjelinek commented on #118
Looks like this is a [common attack](http://stackoverflow.com/a/20576602/979315), but the server should have discarded this request instead of crashing.

[2014-05-08 03:01] pilwon commented on #118
@johnjelinek It looks like [this one](http://securityintelligence.com/six-month-old-vulnerability-exploit-attempt). Is this a reproducible bug?

[2014-05-08 03:03] pilwon commented on #118
Confirmed the following request crashes the server. It complains the URL contains `.`:

[code]

Decoded URL:

[code]

Working on the fix now.

[2014-05-08 03:06] johnjelinek commented on #118
[code]

or

[code]

GET or POST, this request crashes the server.

[2014-05-08 03:10] pilwon commented on #118
This error comes from `mongodb` module where it checks for the validity of key name: `BSON.checkKey = function checkKey (key) {...}`

[2014-05-08 03:17] pilwon commented on #118
@johnjelinek Looks like `winston-mongodb` doesn't handle serialization properly. I'll see what we could do to get this fixed. ~~In the mean time, you can comment out `require('./winston').attach(app);` in `server/app.js` to disable logging feature.~~ (see https://github.com/pilwon/ultimate-seed/issues/118#issuecomment-42510299)

[2014-05-08 03:18] johnjelinek commented on #118
Ok, thanks @pilwon!

[2014-05-08 03:25] johnjelinek commented on #118
If I comment out that line, I get:

[code]

[2014-05-08 03:32] pilwon commented on #118
@johnjelinek My bad. Since the winston module is not completely modularized, please 1) uncomment the line (restore it), and 2) comment out all lines where `winstonMongoDB` appears in `server/winston.js`. I have just tested this to disable winston logging for MongoDB and confirmed the above problematic query doesn't crash the server anymore.

Ideally this should have been done automatically by a ch

[2014-05-08 03:52] johnjelinek commented on #118
Confirmed, your suggestion is a good temporary fix :+1:

[2014-05-08 03:55] pilwon opened #119 ""/?%2E" causes a server crash with "winston-mongodb""
`/?%2E` causes a server crash with `winston-mongodb`.

Related issue: #118 (reported by @johnjelinek)
#### Temporary solution to fix this error:

Comment out all lines where `winstonMongoDB` appears in `server/winston.js` to disable logging to MongoDB.

[2014-05-08 03:56] pilwon commented on #118
@johnjelinek Created a bug issue #119 for this. Closing this one now.

[2014-05-08 03:56] #118 closed, assigned to nobody

[2014-05-08 04:20] pilwon commented on #119
Blocked by the issues at https://github.com/indexzero/winston-mongodb/issues/32 and https://github.com/heapsource/express-winston/issues/25.

[2014-05-08 04:54] pilwon commented on #108
I'm experiencing this error as well.

The problem is in the `karma` module is the problem. (related issues: https://github.com/linnovate/mean/issues/411 and https://github.com/xolvio/rtd/issues/113)

[2014-05-08 04:56] #108 closed, assigned to nobody

[2014-05-10 22:50] 4x4notfound opened #120 "Restify Bad Request"
I've created a model similar to this...

[code]

Restified the model...

[code]

And when I do a `GET` I receive back a 400...

[code]

`POST` and `GET` for a list works fine.

On client the call is made with restangular...

[code]

Am I missing something?

[2014-05-10 23:08] 4x4notfound commented on #120
It looks like it is an issue because of uuid. Would you know why?

[2014-05-18 13:00] pilwon commented on #11
#### TODOs
- Unit Testing with [Karma](https://github.com/karma-runner/karma)
- Simplify the E2E testing so that it can be all done using one grunt command.

[2014-05-20 17:58] ChrisL1200 opened #121 "Improved Documentation"

[2014-05-20 19:28] #121 closed, assigned to nobody

[2014-05-22 03:54] bluepeter opened #122 "Needed: more complete Admin dashboard listing all user accounts"
Pretty please? :)

[2014-05-23 01:59] 4x4notfound opened #123 "404 on API route"
I added a new route

routes.js

[code]

controllers/api/events.js

[code]

And I've been getting a 404 that I can't figure out.

I played with different routes and I notices in the routes stack sometimes the path would be defined like `/api/resource/:id/:id` when defined like `/api/resource/:id`

[2014-05-23 18:26] #120 closed, assigned to nobody

[2014-05-23 18:27] 4x4notfound commented on #123
Figured out your custom Restify interface. All good.

https://github.com/pilwon/node-ultimate/blob/fba037653e13d05ed4faa74dfa9f19bd7b874ae8/lib/server/route/restify.js

[2014-05-23 18:27] #123 closed, assigned to nobody

[2014-05-24 13:24] ajohnclark commented on #113
+1 to SockJS after client side DDoSing server. Great seed though :)

[2014-06-11 20:28] ajohnclark commented on #76
Switching to bcrypt-nodejs also fixed a "node-gyp" compile / binding error upon 'npm install' with Fedora 20 64-bit as well. Thanks @LarryEitel.

[2014-06-28 19:43] bluepeter opened #126 "Ability for users to create Organizations and add/remove others to orgs"
Similar to how it works in Github: users should be able to create organizations, and invite/add/remove/role other users/email addresses to that organization.

This is a pretty common use-case for B2B apps, including, e.g., Github, Trello, 15Five, and so on. It'd be useful here, too. (Although it may be too use-case-specific for this project.)

[2014-07-14 20:38] salam0smy commented on #108
i'm having the same problem?! any solutions?

[2014-08-08 08:48] pedrochen opened #127 "can not start server"
help please!

when I run grunt from command line to start, it keeps echo the following error :
Error: Cannot find module '/home/pedro/dev/ultimate-seed/config/development'

thanks

[2014-08-08 10:46] Casedy commented on #127
Check the existence of the file "/config/development.json".
The default is none. You must rename "development.sample.json" to "development.json".
And configure it

[2014-08-15 19:36] jelling commented on #108
For anyone else having this problem you can temporarily work around it by removing karma. The commit referenced in the close put these files in a special Heroku file of things to ignore at runtime so that is the better solution.

[2014-08-18 14:27] Kyii opened #128 "Heroku deploy failed after updating to mongoDB 2.6.4; Error: database names cannot contain the character '.'""
Hi,
i have been running this great ultimate-seed at Heroku and it has been working fine on the free tier MongoHQ (now Compose) with MongoDB 2.4 database but on upgrading to the 1GD SSD with mongoDB 2.6.4 i get an application error. looking at the logs I'm getting this error:

[code]

of course there is no . in the database name. config file is ok like this (fake data)

[code]

there is almost the

[2014-09-04 09:34] maximkott commented on #77
Still, it would be nice if there would be an exception in the console instead of page freeze (loading loop). You can't even close the tab - have to kill chrome.

Tracking down such an issue is quite hard because you would think of a script to cause this.

[2014-09-10 13:10] etamity opened #129 "Can't start server ,Waiting...Warning: EMFILE: Too many opened files."
Running "symlinkDev" task
Resolved symlinks: /Users/joey/Documents/server/social/client/fonts

Running "cachebust:dev" (cachebust) task

Running "serverDev" task

Running "express:server" (express) task
Running "express-start" task
debug: [app] app.project: {
  "path": {
    "bower": "client/js/node_modules/bower_components",
    "client": "client",
    "config": "config",
    "dist": "client-buil

[2014-09-10 13:18] etamity commented on #129
I sort out the warning problem, but after commented Redis, its still showing
[Error: Redis connection to localhost:6379 failed - connect ECONNREFUSED]

[2014-09-10 13:19] etamity commented on #129
app.run = function () {
  // Connect to DB
  ultimate.db.mongoose.connect(app.config.db.mongo);
  //ultimate.db.redis.connect(app.config.db.redis);

[2014-09-13 17:39] nicolaslair commented on #128
Hey Kyli,

I am facing exactly the same issue so I am wondering if you found any solution? I know I could switch to Connect-Redis instead but I am trying to avoid doing that :)

Thanks in advance ;)

[2014-09-19 11:41] Kyii commented on #128
hey nicolaslair,

there was a somehow similar issue running on mongolab after updating from mongodb 2.4 to 2.6.4.
a database connection could not be established because of some error in connect-mongo.
luckily i solved the issue updating connect-mongo to the latest-version (0.4.1) in the node-ultimate repository. unfortunately i don't know exactly what caused the error in the first place.

what abo

[2014-09-19 11:50] Kyii commented on #129
you can see right here what to do:
https://github.com/pilwon/ultimate-seed#how-do-i-fix-the-error-emfile-too-many-opened-files

[2014-09-21 21:03] #128 closed, assigned to nobody

[2014-09-22 09:03] nicolaslair commented on #128
Thanks Kyli, I tried different updates yesterday but I am still facing the same issue. Could I ask you how you initialise connect-mongo for the replica sets?

[2014-09-29 08:51] Satann commented on #78
@LarryEitel,i meet the same case with you, now it works,thank you

[2014-10-09 23:58] hailiang-wang commented on #128
I am facing the same issue, I also use mongodb instances of mongolab.
To make it more clear, my db url is like this

[code]

But if the url just have one host, such as _mongodb://foo:bar@d1.mongolab.com:39530/hw_, then it works.

[2014-10-17 08:21] spiritonly opened #130 "npm postinstall failed in windows"
while windows do not have cp command, so "cp -n %s %s" failed when I execute "npm install".

[2014-10-26 09:35] Casedy opened #133 "implement express-restify-mongoose"
http://florianholzapfel.github.io/express-restify-mongoose/

This tool is handy. I propose to use it instead of their own. ( https://github.com/pilwon/node-ultimate/blob/master/lib/server/route/restify.js )

[2014-11-20 22:57] stepri commented on #128
Same issue here, with 2 hosts in the url

[2014-11-25 01:59] ericwebster commented on #128
I am having the same issue after installing "connect-mongo" to solve a session store issue I was having. Also if I uninstall that package it works.

Still looking for a solution.

[2014-12-16 17:03] etinif commented on #128
connect-mongo is still broken with compose.io. any alternatives for mongodb session storage?

[2014-12-17 08:34] nicolaslair commented on #128
Hi all, I got it working by using mongoose and sending the db param to
connect-mongo:

var mongoUri = process.env.MONGOHQ_URL:
var mongoose = require ("mongoose");

mongoose.connect(mongoUri, {safe: true, auto_reconnect: true });

app.use(express.session({
store: new MongoStore({ db: mongoose.connection.db }),
secret: "...",
cookie: {
maxAge: ...
}
}));

Hope it helps you guys, it's on production

[2015-01-05 18:39] umassthrower commented on #128
This should not be closed, several people are still getting this error after 0.4.1 (I am on 0.4.2).

[2015-01-18 03:36] mattfair commented on #11
I've been banging my head against the wall trying to get Unit testing with Karma to work with ultimate-seed.  Based on your todo, does this mean that Karma unit testing does not work with the current configuration at this time?  At least for me it doesn't seem to work out of the box.  Are there any work arounds that anyone has come up with?

[2015-01-23 03:29] neurobe commented on #130
changing to cp -u works
there are some modules related to angular that I needed to add manually with npm, and together with the change mentioned in an earlier post (changing bcrypt to bcrypt-nodejs) I was also able to get it up and running on Windows 8.1. Thank you pilwon!

[2015-02-06 19:03] samlevan commented on #128
Thanks Niko! The workaround you suggested worked well for us too (we use compose.io).

Used a code bit like:

[code]

Also, version 0.7 of connect-mongo now supports multiple hosts in the url.

[2015-02-07 18:23] darshan-rambhia opened #134 "Adding a gulp option"
It would be really helpful if you can add an option for choosing between grunt and gulp as the task runner if possible

[2015-02-09 00:57] geminiyellow commented on #134
+1

[2015-02-17 11:02] spallesen commented on #106
Anyone have an update on this issue - im having excatly the same issue running Windows 8.1, I installed using normal Git clone https://github.com/pilwon/ultimate-seed.git ultimate-seed and installed after fixing the CP issue in the Postinstall script and replacing bcrypt with bcrypt-nodejs.

The server starts serving on port 3000 with nice 200 status - but it have not finised the building the page

[2015-02-17 11:37] spallesen opened #135 "Blank screen on Windows - Guide for Windows"
Im having excatly the same issue running Windows 8.1, I installed using normal Git clone https://github.com/pilwon/ultimate-seed.git ultimate-seed and installed after fixing the CP issue in the Postinstall script and replacing bcrypt with bcrypt-nodejs. Im running Redis on a hosted service.

The server starts serving on port 3000 with nice 200 status - but it have not finised the building the home

[2015-03-29 00:39] codyromano opened #136 "Using Jade with ultimate-seed"
Hello. I would like to use Jade templates with ultimate-seed, but I'm relatively new to Node and Grunt. Will you please point me in the right direction for incorporating Jade into my workflow?

[2015-04-09 18:51] kkotak opened #137 "Passing and retrieving user role using LinkedIn Oauth2"
Hi,
I've been using ultimate-seed for a few months now and still learning the intricacies. One challenge I've come across that has stumped me is how to create new users with different roles based on passing a query param at the time of login/register. I'm trying to do this in the application code instead of changing the 'ultimate' module's  linkedin middleware code. In other words, when User.findO

[2015-05-04 03:03] gtd57 opened #138 "Middleware to check if account is active/verified/blocked etc."
Hi There,
Is there any way to put a middleware in restify object of routes.js file to check whether the User is Verified/Active, up on middleware fail api calls might return 400 bad request saying "Account need to be Verified/Active to do this action".

My wired thought is like, passing the list of middlewares before routing.
Example.
restify.user ('/api/test/user', [LIST_OF_MIDDLEWARES], c.api.te

[2015-06-21 16:29] nwaltham commented on #135
I'd be interested with some help with this too. I have reached a similar point albeit with bcrypt compiling correctly after install openssh for windows. Running on Windows 7 and installed using yo ultimate.

The main symptom I can see is that main.js and monderizr.js are not being served correctly - the index page seems to be being delivered instead

[2015-09-09 18:17] darraghjones commented on #130
I don't understand how changing to cp -u works when the copy command on windows is called copy (not cp).

[2015-10-09 19:37] dudewad commented on #77
I'm experiencing this, even now. This seems like a major issue that should be caught internally by the templateURL handler. What if server resources change? Is it really necessary for an entire page to come down because dev A didn't know about dev B's setup?

[2016-01-29 03:46] geminiyellow opened #139 "please add webpack+npm"
i think webpack + npm script now is hot than glup/grunt, @pilwon can you add webpack to this project?

[2016-04-27 16:46] one-more commented on #54
Got the same error. `npm rebuild` fails.
- node v5.11.0
- npm  v3.8.7

[2016-06-21 22:02] MaximilianLloyd commented on #54
Npm rebuild fails.

[2016-07-07 09:22] nirmalrizal commented on #54
same error here.. what to do??

[2016-10-24 19:58] esthersweon commented on #54
It could be an issue with bcrypt itself: http://stackoverflow.com/questions/29320201/error-installing-bcrypt-with-npm

`npm install --save bcryptjs && npm uninstall --save bcrypt`

Change all your `require('bcrypt')` statements to `require('bcryptjs')`.

Known bcrypt issue: https://github.com/kelektiv/node.bcrypt.js/issues/432

[2017-05-09 12:30] #105 closed, assigned to nobody

[2018-02-19 20:03] cristianhoyos66-zz commented on #54
Another option could be upgrading meteor version, since 1.3.* works perfectly

[2022-01-03 12:24] #133 closed, assigned to nobody